<!doctype html>
<html{% block html_attrs %} lang="en"{% endblock %}>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="theme-color" content="#222" />

    <title>{% block page_title %}{{ app_title }}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('nomadjack.static', filename='img/favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('nomadjack.static', filename='libs/bootstrapv5/css/bootstrap.min.css') }}" />
    {% block page_styles %}{% endblock %}
</head>

<body{% block body_attrs %}{% endblock %}>
    {% block page_body %}
    <div id="page-preloader" class="page-preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <i class="fa-solid fa-spinner fa-pulse" aria-hidden="true"></i>
                <br />
                <i class="fa-solid fa-code" aria-hidden="true"></i> {{ app_title }}
                <small><em>v{{ app_version }}</em></small>
            </div>
        </div>
    </div>

    <div id="wrapper">
    <!-- header -->
    {% include '_header.html' %}
    <!-- /header -->

    <div id="page-wrapper">
        <!-- .container -->
        <div id="page-container" class="container-fluid">
            <!-- page-content -->
            {% block page_content %}{% endblock %}
            <!-- /page-content -->
        </div>
        <!-- /.container -->
    </div>

    <!-- footer -->
    {% include '_footer.html' %}
    <!-- /footer -->
    </div>
    {% endblock %}

    <script type="text/javascript" src="{{ url_for('nomadjack.static', filename='libs/jquery-3.7.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('nomadjack.static', filename='libs/bootstrapv5/js/bootstrap.min.js') }}"></script>
    {% block page_scripts %}{% endblock %}
</body>
</html>